main {
  margin: 0 auto;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  transition: all 0.15s ease-in-out;
  background: #232d3f;
  color: #fafafa;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0;
}

button:hover {
  background: #424769;
}

table {
  text-align: left;
  border-collapse: collapse;
  font-size: 20px;
  font-family: sans-serif;
}

table thead tr {
  background-color: rgba(29, 155, 240, 1);
  color: #fafafa;
  /* background-color: #61dafb; */
}

table tbody tr td:nth-of-type(3),
table tbody tr td:nth-of-type(4),
table tbody tr td:nth-of-type(5) {
  text-align: right;
}

table tfoot tr th:last-of-type {
  font-size: 14px;
  text-align: right;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  /* border-bottom: 1px solid #dddddd; */
  border-bottom: 1px solid #232d3f;
}
